{% extends 'base.html' %}
{% block content %}

<p>Hi {{first_name}},</p>
<p>
  You recently requested to reset your password. Please click the link below to reset your password.
</p>
<table
  role="presentation"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="btn btn-primary"
>
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <h1>Password Reset</h1>
    <form id="resetForm">
        <label for="password">New password:</label><br>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Reset Password</button>
    </form>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>If you did not request a password reset, please ignore this email.</p>
<script>
        document.getElementById('resetForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var formData = new FormData(this);
            var password = formData.get('password');

            // Send API request to reset password
            fetch('/reset-password/confirm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "new_password":  password, "token": "{{token}}" })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message); // Show response message
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %}
